.table-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  position: relative;
  text-align: center;
}

.signup-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #5af62b;
  color: rgb(33, 33, 33);
  border: 1px solid #181918;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: #181918 2px 2px 2px;
}

.signup-button:hover {
  background-color: #00e600;
}

.table-header-image {
  position: relative;
  text-align: center;
  color: white;
  height: 150px;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.table-header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.table-header-image h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  cursor: pointer;
  background-color: #f2f2f2;
}

th:hover {
  background-color: #e0e0e0;
}

.modal {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  position: relative;
}

.modal button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f8d7da;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #f5c6cb;
}

.icon {
  margin-left: 5px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.ascending {
  transform: rotate(0deg);
}

.descending {
  transform: rotate(180deg);
}

@media (max-width: 600px) {
  th, td {
    padding: 8px;
  }
}

@media (min-width: 1024px) {
  .table-container
  {
    margin: 20px auto;
    max-width: 800px;
  }
}