.lisatiedot-container-unique {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  position: relative;
  text-align: center;
}

.header-image-unique {
  position: relative;
  text-align: center;
  color: white;
  height: 150px;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.header-image-unique img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-image-unique h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.info-cards-unique {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 20px;
  margin-top: 20px;
}


.card-unique {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #120069;
  text-align: center;
  position: relative;
  box-shadow: rgba(18, 0, 105, 0.3) 6px 12px 0px; /* Adjust the opacity value as needed */
}



.number {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: thistle;
  border: thistle 1px solid;
  border-radius: 25px;
  padding: 5px;
}

.card-unique p {
  color: white;
}

.karttalinkki-unique {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #5af62b;
  color: rgb(33, 33, 33);
  border: 1px solid #181918;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: #181918 2px 2px 2px;
}

.karttalinkki-unique:hover {
  background-color: #00e600;
}

.icon-unique {
  margin-left: 5px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.list-container-unique {
  margin-top: 3rem;
  text-align: left  ;
}

.h2-unique {
  font-size: 1.5rem;
  margin-bottom: 10px;
  background-color: #120069;
  border-radius: 15px;
  padding: 10px;
  color: thistle;
}

.equipment-list-unique {
  list-style-type: none;
  padding: 0;
}

.equipment-item-unique {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.vastuuvapaus-container-unique {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #c3e6cb;
  background-color: #8cffa7;
  border-radius: 8px;
  text-align: left;
}



.vastuuvapaus-container-unique p {
  font-size: 0.9rem;
  padding: 4px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .info-cards-unique {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .card-unique {
    width: 80%;
    margin-left: 0;
  }

  .equipment-list-unique {
    width: 90%;
  }

  .header-image-unique {
    height: 100px;
  }

  .header-image-unique h1 {
    top: 50%;
    font-size: 0.85rem;
  }

  .vastuuvapaus-container-unique {
    width: 90%;
  }

  .vastuuvapaus-container-unique h2 {
    font-size: 1rem;
  }

  .vastuuvapaus-container-unique p {
    font-size: 0.65rem;
  }
}

@media (max-width: 600px) {
  .info-cards-unique {
    grid-template-columns: 1fr;
  }

  .card-unique {
    width: 80%;
  }

  .equipment-list-unique {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .lisatiedot-container-unique
  {
    margin: 20px auto;
    max-width: 800px;
  }
}